.app {
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.stepper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.step {
  font-size: 1.2em;
  margin: 0 10px;
  color: #aaa;
}

.step.active {
  font-weight: bold;
  color: #000;
}


.form {
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border: none;
}