.sidebar
{
  width: 66vh; /* Adjust the width as needed */ /* Make it full height */
  height: 100vh;
  position: fixed; /* Fixed position to keep it affixed */
  top: 0; /* Stick it to the top of the viewport */
  right: 0; /* Stick it to the left of the viewport */
}

.sidebar img
{
  width: 100%; /* Make the image take up the full width of the sidebar */
  height: 100%; /* Make the image take up the full height of the sidebar */
  object-fit: cover;
}

.password-container
{
  margin-right: auto;  
  padding: 20px;
  display: flex;
  flex-direction: column; 
}

/*
.content
{
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
}*/